:80 {
    handle_path /clash* {
        reverse_proxy http://localhost:9090 {
            header_up Host localhost:9090
        }
    }

    handle {
        root * .
        file_server
        try_files {path} /index.html
    }
}